/* pages/login/login.wxss */
.login-main {
    margin: 48rpx 24rpx 48rpx 24rpx;
}

.avatar-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.avatar-container button {
    background-color: #fff;
}


.avatar-container button::after {
    border: none;
}

.avatar-wrapper {
    padding-top: 36rpx;
    padding-bottom: 36rpx;
}

.avatar {
    display: block;
    width: 128rpx;
    height: 128rpx;
    border-radius: 12rpx;
}