/* pages/box/box.wxss */
page{
    height: 100%;
}
.main-box {
    margin-top: 24rpx;
    margin-left: 16rpx;
    margin-right: 16rpx;
    margin-bottom: 24rpx;
    background-color: white;
    height: -webkit-fill-available;
}

.t-grid {
    border-radius: 8rpx;
    padding-top: 48rpx;
    padding-bottom: 48rpx;
}

.desc-text {
    color: #4D4D4D;
    font-size: 0.7em;
    margin-top: 0.4em;
}

.t-avatar__wrapper {
    color: #4f85de !important;
    background-color: #f0f2f585 !important;
    border-radius: 8px !important;
}

.external-classes {
    size: 96rpx;
}